@model ActionKids.Models.Kid

@{
    ViewData["Title"] = "Kid";
}


<div class="container">
<div class="row">
		<div class="col-md-6">
		<h1> @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) </h1>
		<h4>Total Points: 💰 @Html.DisplayFor(model => model.Points) </h4>
		<h5> @Model.Age Years Old (@Html.DisplayFor(model => model.Birthday)) </h5>
		<br />
		<p> Total Lost Stars: @Html.DisplayFor(model => model.TotalLostStars) </p>
	
	    <hr />
		<a asp-action="Index">Back to List</a>
	</div>
	<div class="col-md">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">ServiceDate</th>
	      <th scope="col">Stars</th>
	      <th scope="col">Points Earned</th>
	      <th scope="col">Notes </th>
	    </tr>
	  </thead>
	 <tbody>
	@foreach(var sr in Model.ServiceRecords)
	{
		<tr>
			<th scope="row">@sr.Service.ServiceStart.ToString("MM/dd/yyyy")</th>
			<th scope="row">
			<partial name="_RenderStars" model="@sr.Stars" />
			</th>
			<th scope="row">@sr.PointsEarned</th>
			<th scope="row">@sr.Notes</th>
		</tr>


	}
	</tbody>
	</table>
	</div>
</div>
</div>
