@model IEnumerable<ActionKids.Models.Kid>

@{
    ViewData["Title"] = "Kids";
}

<div class="container">
<div class="row">
	<div class="col-sm-6">
		<h1>All kids</h1>
		<p>List of All Kids who have attended at least one service</p>
		<p>Points, notes, and lost stars are tracked for posterity</p>
		<br/>
	</div>

	<div class="list-group d-flex col-sm-6">
	@foreach (var item in Model) {
			<a 	asp-action="Details" 
				asp-route-id="@item.Id"
				class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
				      <h5 class="mb-1">@item.FirstName @item.LastName</h5>
				      <small>💰 @item.Points</small>
				    </div>
				<p class="mb-1">@item.Age years old</p>
		</a>
	}
	</div>
</div>
</div>
